//variables generales
$color-1: #66CC34;
$color-black: #000000;
$color-gray: #F0F0F0;
$color-text: #434343;
//editar variables bootstrap
$primary: $color-1;
$secondary: $color-text;
$font-family-base: 'Oswald', sans-serif !default;
$font-family-code: 'Fira Sans', sans-serif !default;
$border-color: $color-text;
$border-radius: 8px;
$input-btn-font-size: 18px;
$input-btn-padding-x:1.25rem; 
$input-btn-padding-y:0.75rem; 
$body-color: $color-black;
$input-btn-font-family: $font-family-code;
$input-btn-font-size: 16px;
$input-btn-border-width: 2px;
$form-check-input-focus-box-shadow: none;