@import "src/scss/mixin";
@import "src/scss/var";

//extend
%resetList {
    list-style: none;
    margin: 0;
    padding: 0;
}

@import ".././node_modules/bootstrap/scss/bootstrap.scss";

//reset
[href="#"] {
    pointer-events: none; 
    cursor: default; 
}


.btn {
    text-transform: uppercase;
    font-weight: bold;
    font-family: $font-family-base;
    border-radius: 0;
    &-light {
        background: transparent;
        color: $white;
        border-color: $color-1;
        border-width: 1px;
        &:before {
            content: "";
            display: inline-block;
            border: 4px solid transparent;
            border-left-color: $color-1;
            vertical-align: top;
            margin-top: 10px;
            margin-right: 5px;
        }
        &:hover {
            background-color: $color-1;
            border-color: $color-1;
            &:before {
                border-left-color: $white;
            }
        }
    }
    &-primary {
        color: $white;
    }
}

.bg-light {
    background-color: $color-gray !important;
}

.fc-line {
    background: transparent;
    border-right: none;
    border-left: none;
    border-top: none;
    border-radius: 0;
    padding: 0.25rem 0;  
    &:focus {
        background: transparent;
        box-shadow: none;
    }
}

.link {
    position: relative;
    display: inline-block;
    &:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 2px;
        background: currentColor;
        transform-origin: 100% 50%;
        transform: scale(0, 1);
        transition: transform 0.3s;
    }
    &:hover {
        &:before {
            transform-origin: 0% 50%;
            transform: scale(1, 1);
        }
    }
}

//GENERAL  

.form-control {
    margin-bottom: 20PX;
}

.f-oswald {
    font-family: $font-family-base;
}
.f-fira {
    font-family: $font-family-code;
}

p, span, li, table, a {
    font-family: 'Fira Sans', sans-serif;
}

.title-gray {
    font-family: "Oswald", sans-serif;
    color: #5D5C62;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
}

.ai-flex-start  {
    align-items: flex-start;
}

.Sub-title {
    display: flex;
    white-space: nowrap;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    @include media(sm){
        display: block;
        text-align: center;
    }
    &:after {
        content: "";
        display: inline-block;
        border-bottom: $color-1 solid 1px;
        width: 100%;
        @include media(sm){
            display: none;
        }
    }
}

.fc-dark {
    .form-check-input {
        background: transparent;
        display: block;
        width: 30px;
        margin-right: 10px;
        border-color: $color-1;
        @include media(sm){
            width: 60px;
        }
    }
}


.fc-normal {
    .form-check-input {
        display: block;
        width: 20px;
        margin-right: 10px;
        @include media(sm){
            width: 50px;
        }
    }
}

.blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    background: rgb(0 0 0 / 30%);
    * {
        opacity: 0.9;
    }
}

//HEADER

.header {
    &__logo {
        width: 350px;
        @include media(sm){
            width: 300px;
        }
    }
    &__brand {
        background-color: $black;
    }
    &__contMenus {
        background: #202022;
        position: relative;
        @include media(sm){
            display: none;
        }
        &.show {
            display: block
        }
    }
    &__list, &__menu, &__megaMenu {
        @extend %resetList;
        li {
            font-size: 14px;
        }
        > a {
            transition: all ease-in 0.1s;
            color: #77767E;
            &:hover {
                color: $white;
            }
        }
    }
    &__list {
        li {
            @include media(sm){
                border: none !important;
            }
        }
        a {
            font-size: 14px;
            @include media(sm){
                font-size: 0;
            }
            img {
                height: 16px;
                margin-top: 2px;
            }
            &:hover {
                transition: all ease-in .2S;
                color: $white !important;
            }
        }
    }
    &__hamburger-menu {
        display: none;
        width: 26px;
        @include media(sm){
            display: inline-block;
        }
        svg {
            fill: $color-1;
        }
    }
    &__megaMenu {
        .container {
            margin-top:0;
            margin-bottom: 0;
            list-style-type: none;
        }
        @include media(sm) {
            border-top: $color-text solid 1px;
        }
        > li {
            cursor: pointer;
            &:after {
                content: "";
                display: inline-block;
                width: 5px;
                height: 5px;
                border: 5px solid transparent;
                border-top-color: #5B5A60;
                margin-left: 6px;
            }
            &:hover {
                background: #2C2C2E;
                border-color: $color-1 !important;
                b {
                    color: $color-1;
                }
                &:after {
                    border-top-color: $color-1;
                }
                .header__megaMenuContent {
                    display: flex;
                    @include media(sm) {
                    }
                }
            }
            @include media(sm) {
                width: 100%;
                text-align: center;
                border: none !important;
                font-size: 13px;
            }
        }
        &Content {
            display: none;
            position: absolute;
            z-index: 99;
            background: $white;
            width: 100%;
            top: 100%;
            left: 0;
            padding: 0;
            @extend %resetList;
            background: #D6D5DA;
            .top-level {
                padding-top: 15px;
                font-size: 12px;
                @include media(sm) {
                    padding-top: 5px;
                }
                > a {
                    font-family: $font-family-base;
                    font-weight: bold;
                    font-size: 18px;
                    color: $black;
                    padding: 10px;
                    border-radius: 10px 10px 0 0;
                    border: solid 2px transparent;
                    display: inline-block;
                    position: relative;
                    text-decoration: none;
                    text-transform: uppercase;
                    transition: all ease-in .2s;
                    margin: 10px 0;
                    pointer-events: none; 
                    cursor: default; 
                    @include media(sm) {
                        margin: 0;
                        font-size: 20px;
                        width: 100%;
                        padding: 5px;
                    }
                    &:after {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        border-top: transparent 6px solid;
                        bottom: 0;
                        width: 100%;
                        left: 0;
                        transition: all ease-in .2s;
                        transform-origin: center center;
                    }
                    &:hover {
                        color: rgba($black,.8);
                    }
                    .brand {
                        font-size: 14px;
                        vertical-align: super;
                    }
                }
                &:hover {
                    .cont-heading {
                        display: flex;
                    }
                    > a {
                        border-color: $black;
                        &::after {
                            border-top-color: $color-1;
                        }
                    }
                }
            }
            .cont-heading {
                position: absolute;
                display: none;
                top: 100%;
                left: 0;
                background: $white;
                width: 100%;
                @extend %resetList;
                color: #78777C;
                padding-top: 50px;
                padding-bottom: 20px;
                box-shadow: 0 20px 20px rgba(0,0,0,0.5);
                @include media(sm) {
                    flex-direction: column;
                    .container.d-flex {
                        display: block !important;
                    }
                }
                .category-heading {
                    position: relative;
                    background: $white;
                    padding: 0 30px;
                    font-weight: 400;
                    @include media(sm) {
                        display: inline-block;
                        margin: 0px 15%;
                        width: 60%;
                    }
                }
                .heading {
                    position: relative;
                    width: 360px;
                    padding: 0 20px;
                    border-right: #F1F1F1 solid 4px ;
                    @include media(sm) {
                        width: 100%;
                        margin: 0;
                        border-right: none;
                    }
                    &:before {
                        content: "";
                        display: block;
                        border-bottom: solid 1px #F1F1F1;
                        width: 90%;
                        position: absolute;
                        top: 14px;
                    }
                    &:last-child {
                        border-right: none
                    }
                    .subheading {
                        opacity: 0;
                        visibility: hidden;
                        border-bottom: solid 4px transparent;
                        @include media(sm) {
                            width: 100%;
                            display: inline-block;
                        }
                        img, h4 {
                            transition: all ease-in-out .2s;
                        }
                        &__text {
                            margin-top: -40px;
                            z-index: 2;
                            position: relative;
                            @include media(sm) {
                                margin-top: -10px;
                            }
                        }
                        &:hover {
                            border-bottom-color: $color-1;
                            img {
                                transform: scale(0.95);
                            }
                            h4 {
                                color: $color-1 !important;
                            }
                        }
                    }
                    &.only-one {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        padding-top: 20px;
                        &:before {
                            width: 100%;
                        }
                        .category-heading {
                            position: absolute;
                            margin: auto;
                            right: 0;
                            left: 0;
                            width: 260px;
                            top: -14px;
                            &, &::before {
                                display: block !important;
                                top: 0;
                            }
                        }
                        .subheading {
                            width: 340px;
                            margin-top: 20px;
                            margin-right: 30px;
                            display: inline-block;
                            @include media(sm) {
                                width: 92%;
                                margin: 0 15px;
                            }
                        }
                    }
                }
            }
            .list-vertical {
                .cont-heading {
                    .heading {
                        width: 100%;
                        display: flex;
                        @include media(sm) {
                            display: block;
                        }
                        .category-heading {
                            display: none;
                        }
                        &:before {
                            width: 100%;
                            top: -2px;
                        }
                        .subheading {
                            width: 340px;
                            margin-right: 30px;
                            @include media(sm) {
                                width: 92%;
                                margin: 0 15px;
                            }
                        }
                    }
                }
            }
        }
    }
    &__line {
        height: 24px;
        background: url("src/img/line-header.png") 0 -2px;
    }
    &__menu {
        @include media(sm) {
            flex-wrap: wrap;
        }
        li {
            a {
                color: #B3B2B7;
                &:hover {
                    background: #2C2C2E;
                    color: $white;
                }
            }
        }
    }
}

#nav-0, #nav-1, #nav-2 {
    > .top-level {
        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 15px;
            border: #B1B0B5 solid 1px;
            border-bottom: 0;
            position: absolute;
            top: 26px;
            @include media(sm) {
                display: none !important
            }
        }
        &:before {
            content: "";
            background-color: #D6D5DA;
            font-family: $font-family-base;
            color: #5D5C62;
            font-weight: bold;
            position: relative;
            z-index: 99;
            padding: 0 10px;
            @include media(sm) { 
                padding: 0;
                font-size: 12px;
                line-height: 12px;
            }
        }
    }
    > .top-level:nth-child(1) {
        width: 160px;
        padding-right: 20px;
        border-right: #E5E4E9 solid 1px;
        text-align: center;
        @include media(sm) {
            width: auto;
            padding: 5px;
        }
        &:after {
            width: 140px;
            height: 15px;
        }
        &:before {
            content: "CALLE / PISTA";
        }
    }
    > .top-level:nth-child(2) {
        width: 140px;
        padding-left: 20px;
        @include media(sm) {
            width: auto;
            padding-left: 5px;
        }
        &:after {
            width: 120px;
            height: 15px;
            border-right: none;
        }
        &::before {
            @include media(sm) {
                display: none;
            }
        }
        > a {
            top: 16px;
        }
    }
    > .top-level:nth-child(3) {
        width: 140px;
        padding-right: 20px;
        border-right: #E5E4E9 solid 1px;
        @include media(sm) {
            width: auto;
            padding-right: 5px;
        }
        &:after {
            width: 120px;
            height: 15px;
            border-left: none;
        }
        &:before {
            content: "CALLE";
            transform: translate(-40px, 0px);
            display: inline-block;
            @include media(sm) {
                transform: translate(-15px, 0px);
            }
        }
    }
    > .top-level:nth-child(4) {
        width: 260px;
        padding-left: 20px;
        padding-right: 20px;
        border-right: #E5E4E9 solid 1px;
        text-align: center;
        &:after {
            width: 220px;
            height: 15px;
        }
        &:before {
            content: "OFF-ROAD / DOBLE PROPÓSITO";
        }
    }
    > .top-level:nth-child(5) {
        width: 220px;
        padding-left: 20px;
        padding-right: 20px;
        border-right: #E5E4E9 solid 1px;
        text-align: center;
        @include media(sm) {
            width: auto;
            padding: 5px;
        }
        &:after {
            width: 180px;
            height: 15px;
        }
        &:before {
            content: "MOTOCROSS / ENDURO";
        }
    }

}

#nav-1 {
    > .top-level:nth-child(1) {
        width:200px;
        &:after {
            width: 180px;
        }
        &:before {
            content: "DEPORTE Y RECREACIÓN";
        }
    }
    > .top-level:nth-child(2) {
        width: 230px;
        padding-left: 20px;
        padding-right: 20px;
        border-right: #E5E4E9 solid 1px;
        a {
            top: 0;
        }
        text-align: center;
        &:after {
            width: 190px;
            border-right: #B1B0B5 solid 1px;
        }
        &:before {
            content: "UTILITARIO / RECREACIÓN";
        }
    }
}

#nav-2 {
    > .top-level:nth-child(1) {
        width:200px;
        &:after {
            width: 180px;
        }
        &:before {
            content: "MOTOS ACUÁTICAS";
        }
    }
}
.promo-info {
    p {
        @include media(sm){
            background: url(src/img/ico/icon-arrow-green.svg) no-repeat 99% center;
            background-size: 10px;
            font-size: 20px;
        }
    }
}

.slide-home {
    &.slick-dotted.slick-slider {
        @include media(sm){
            margin-bottom: 60px;
        }
    }
    .slick-prev {
        left: 40px;
        z-index: 2;
        &:before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            border: solid 1px transparent;
            border-left-color: $color-1;
            border-top-color: $color-1;
            transform: rotate(-45deg);
        }
    }

    .slick-next {
        right: 40px;
        z-index: 2;
        &:before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            border: solid 1px transparent;
            border-left-color: $color-1;
            border-top-color: $color-1;
            transform: rotate(135deg);
        }
    }

    .slick-track {
        will-change: transform;
    }
    
    .slick-slide {
        position: relative;
        z-index: 2;
        .container {
            --bs-gutter-x: 0;
            --bs-gutter-y: 0;
        }
        &:not(.slick-active) {
            
        }
        .image-slide {
            @include media(sm){
                object-fit: cover;
                height: 200px;
                object-position: right;
            }
        }
    }
    
    &__content {
        position: absolute;
        z-index: 99;
        width: 430px;
        top: 80px;
        @include media(sm){
            position: inherit;
            left: 0;
            top: 0;
            width: 100%;
            background: $black;
            text-align: center;
            padding: 50px 60px;
            img {
                margin: 0 auto;
                width: 80%;
                min-width: auto;
            }
        }
        h2 {
            font-size: 3em;
        }
    }
    .slick-dots {
        position: inherit;
        display: flex !important;
        justify-content: center;
        li {
            order: 2;
            &.slick-active {
                button {
                    &:before {
                        content: "";
                        border: $color-1 solid 1px;
                        background-color:  $color-1;
                    }
                }
            }
            button {
                &:before {
                    border: $gray-600 solid 1px;
                    border-radius: 50%;
                }
            }
        }
    }
}

.estate-slide {
    border: #454548 solid 2px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: bottom;
    margin: 0 5px;
    order: 1;
    cursor: pointer;
    &:Hover {
        background-color: $color-gray;
    }
    &.pause {
        &:after,&:before {
            content: "";
            display: inline-block;
            height: 10px;
            border-left: #454548 solid 2px;
            vertical-align: text-top;
            margin-top: 1px;
        }
        &::before {
            margin-right: 2px;
        }
    }
    &.play {
        &:after {
            content: "";
            display: inline-block;
            height: 10px;
            width: 10px;
            border: solid transparent 6px;
            border-left-color: #454548;
            vertical-align: text-top;
            margin-left: 6px;
        }
    }
}

@keyframes showElements {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

.show_elements {
    animation: showElements ease-in 0.2s forwards;
}

.element-obj {
    margin: 0 80px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    > a {
        > img, p {
            transition: all ease-in-out .2s;
        }
        &:hover {
            img {
                transform: scale(0.95);
            }
            .element-obj__name {
                color: $color-1 !important;
            }
        }
    }
    &__container {
       
    }
    &__tab {
        @extend %resetList;
        overflow-y: auto;
        img {
            min-height: 20px;
            max-height: 26px;
            max-width: 125px;
            min-width: 60px;
        }
        li {
            cursor: pointer;
            position: relative;
            padding-bottom: 15px;
            color: $border-color;
            padding-top: 30px;
            font-size: 14px;
            &:after {
                content: "";
                display: block;
                position: absolute;
                background: $color-1;
                bottom: 0;
                width: 50px;
                left: 0;
                right: 0;
                margin: auto;
                transition: transform ease-in .2s;
                transform: scale(0,1);
                height: 4px;
            }
            &.active {
                color: $color-black;
                img {
                    filter: brightness(0);
                }
                &:after {
                    transform: scale(1,1);
                }
            }
            &[data-name="teryx"]{
                &:before {
                    content: "";
                    border: #A8A8A8 solid 1px;
                    position: absolute;
                    width: 50%;
                    top: 0;
                    right: 0;
                }
            }
            &[data-name="mule"]{
                &:before {
                    content: "";
                    border: #A8A8A8 solid 1px;
                    position: absolute;
                    width: 50%;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
    &__tab-text {
        position: absolute;
        top: -17px;
        white-space: nowrap;
        background: $white;
        right: -60px;
        display: inline-block;
        padding: 5px;
        z-index: 2;
        &--only {
            right: 0;
            left: 0;
            margin: auto;
            text-align: center;
        }
    }
    &__text {
        margin-top: -30px;
        position: relative;
        z-index: 2;
        @include media(sm) {
            margin-top: -10px;
        }
    }
    &__name {
        position: relative;
        &:after {
            content: "";
            display: block;
            position: absolute;
            background: $color-1;
            bottom: 0;
            width: 40px;
            left: 0;
            right: 0;
            margin: auto;
            transition: all ease-in .2s;
            height: 4px;
        }
    }
}

.content {
    &--blog {
        @include media(sm){
            margin: 0 20px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
            margin-bottom: 20px;
        }
    }
}

.newsletter {
    &__text {
        text-align: left;
        @include media(sm){
            text-align: center;
        }
    }
}